svg {
	display: block;
}

#options label,
#options input {
	margin: 0px 10px 0px 0px;
}

#options {
	margin: 8px 0px;
}

#agglomerative_input input {
	width: 127px;
}

select,
#submit_button {
	margin: 0px 15px 0px 0px ;
	height: 25px;
	width:120px;
}

#content {
	margin: 30px;
}

#allcluster {
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	overflow-y: scroll;
	position: absolute;
	padding: 12px;

}

.cards {
	padding: 10px;
	margin: 10px;
	border: 5px solid black;
	border-radius: 25px;
}

.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
}